<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/layui/css/layui.css">
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        {{include "./common/header.html"}}
        {{include "./common/side.html"}}
        <div class="layui-body">
            <div style="padding: 15px;">文章列表</div>
        </div>
    </div>
    {{include "./common/foot.html"}}
</body>
<script src="/public/layui/layui.js"></script>
<script>
    layui.use('element', function () {
        var element = layui.element;

    });
</script>

</html>